.card-item {
  position: relative;
  height: 150px;
  width: 270px;
  margin: 16px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .image-container {
    background-color: whitesmoke;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
  }

  .title-container {
    min-height: 40px;
    border-top: 1px solid #dadce0;
    display: flex;
    background-color: white;
    align-items: center;
    padding-left: 12px;

    mat-icon {
      margin-right: 8px;

      &.school {
        color: #f57c00;
      }

      &.home {
        color: #43a047;
      }

      &.presentation {
        color: #1e88e5;
      }
    }

    .title {
      font-size: 16px;
    }
  }

  .actions {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;
    height: 40px;
    border-bottom: 1px solid #dadce0;
    box-sizing: border-box;
    transform: translateY(-40px);
    transition: transform 250ms ease-in-out;
    display: flex;
    justify-content: flex-end;
  }

  &:hover .actions {
    transform: rotateY(0);
  }
}

::ng-deep {

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .draggable-list.cdk-drop-list-dragging .card-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .draggable-list.cdk-drop-list-dragging .actions {
    transform: translateY(-40px) !important;
  }

  .cdk-drag-preview .card-item .actions {
    transform: translateY(0) !important;
  }

  .card-item-placeholder {
    background: #e0e0e0;
    border: dotted 2px #bdbdbd;
    min-height: 50px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
