<ng-container *ngIf="readonly">
  <div class="card-list">
    <ng-content></ng-content>
    <ng-container *ngFor="let item of orderedItems">
      <ng-container *ngTemplateOutlet="itemTemplate; context:{$implicit:item, readonly:true}"></ng-container>
    </ng-container>
  </div>
</ng-container>
<div *ngIf="!readonly" cdkDropList class="card-list draggable-list"
     (cdkDropListDropped)="drop($event)">
  <ng-content></ng-content>
  <div *ngFor="let item of orderedItems" cdkDrag class="card-item-drag">
    <div class="card-item-placeholder" *cdkDragPlaceholder></div>
    <ng-container *ngTemplateOutlet="itemTemplate; context:{$implicit:item, readonly:false}"></ng-container>
  </div>
</div>

<ng-template #itemTemplate let-item let-readonly="readonly">
  <div class="card-item">
    <div *ngIf="!readonly" class="actions">
      <button mat-icon-button class="view-button"
              (click)="viewItem.emit(item)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="primary"
              (click)="editItem.emit(item)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="error"
              (click)="deleteItem.emit(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="image-container">
      <img alt="Картинка" [src]="item.image">
    </div>
    <div class="title-container">
      <mat-icon [class.school]="item.type === types.SCHOOL"
                [class.home]="item.type === types.HOME"
                [class.presentation]="item.type === types.PRESENTATION">
        {{item.type}}
      </mat-icon>
      <span class="title">{{item.title}}</span>
    </div>
  </div>
</ng-template>
