<div class="panel-container">
  <mat-tab-group>
    <mat-tab label="Урок">
      <ng-container *ngTemplateOutlet="create; context:{$implicit:types.SCHOOL}"></ng-container>
      <app-card-list [items]="lessonItems"
                     [readonly]="false">
      </app-card-list>
    </mat-tab>
    <mat-tab label="Домашка">
      <ng-container *ngTemplateOutlet="create; context:{$implicit:types.HOME}"></ng-container>
      <app-card-list [items]="homeLessons"></app-card-list>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #create let-type>
  <div class="add-new-task-container">
    <button mat-button color="primary"
            (click)="createNewTask(type)">
      <mat-icon>add</mat-icon>
      Создать
    </button>
  </div>
</ng-template>
